@model CarRental.EntityFramework.Car

@{
    ViewBag.Title = "Uklanjanje automobila";
}

<h2>Izbriši</h2>

<h3>Jeste li sigurni da želite obrisati automobil</h3>
<div>
    <h4>Automobil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Office.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Office.City)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-danger" /> |
            @Html.ActionLink("Odustani", "Index", new { }, new { @class = "btn btn-default" })
        </div>
    }
</div>
